/* Generales */

@font-face{
    font-family: "customFont";
    src: url("../fonts/customFont.woff2");
}

.bodyIndex, .bodyJuegos, .bodyAdministrador{
    margin: 0;
    background-image: url(../images/bg-repeatp.png);
}

.textoError, .textoErrorRegistro{
    color: red;
}

/* Navbar */

.customNavbar{
    background-color: rgb(26, 26, 26);
    border-bottom: 2px solid orange;
}

/* Footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
}

.footerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.footerCopyright{
    margin: 0;
    font-size: 14px;
}

/* Index.html */

.logoNav{
    width: 50px;
    height: 50px;
}

.imagenIndex{
    width: 100%;
}

.homeContent p{
    color: white;
    font-family: "customFont";
    text-align: justify;
}

.homeContent h1{
    color: white;
    margin: 0;
}

.homeContent ul li p{
    text-align: left;
}

.homeContent li{
    color: white;
}

.homeContent{
    width: 95%;
    margin: auto;
    padding: 0 10px;
    padding-bottom: 50px;
}

/* CSS juegos.html */

.tituloCatalogo{
    text-align: center;
    color: white;
    font-family: "customFont";
}

.juegosContent{
    width: 95%;
    margin: auto;
}

.imagenJuegos{
    width: 100%;
}

.tablaJuegos{
    width: 100%;
    color: white;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 40px;
}

.bodyJuegos thead{
    background-color: orange;
    color: black;
}

.bodyJuegos td{
    border: solid 1px white;
    font-size: 10px;
}

/* CSS ingreso.html */
                    /* Contenido */

.cuadroIngreso{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    padding: 2.5%;
}

.tituloIngreso{
    font-size: 24px;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima";
    margin: 0;
    margin-bottom: 10px;
}

.formBottomIngreso{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingresarButton, .registrarButton, .registroCompletadoButton, .agregarButton{
    background-color: #f7931e;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    border: none;
}

.ingresarButton:hover, .registrarButton:hover, .registroCompletadoButton:hover{
    background-color: #c26903;
    cursor: pointer;
}

.inputDecoradoIngreso{
    height: 35px;
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
    margin-bottom: 15px;
}

.inputDecoradoIngreso:focus{
    outline: none;
}

.creeCuentaIngreso p, .creeCuentaIngreso a{
    margin: 0;
}

/* CSS registro.html */

.cuadroRegistro{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    padding: 2.5%;
}

.tituloRegistro{
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima";
}

.divNombreRegistro{
    display: flex;
    justify-content: space-between;
}

.inputNombreRegistro{
    height: 35px;
    border: none;
    border-bottom: 2px solid gray;
    width: 46%;
    margin-bottom: 15px;
}

.inputNombreRegistro{
    outline: none;
}

.inputDecoradoRegistro{
    height: 35px;
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
    margin-bottom: 15px;
}

.inputDecoradoRegistro:focus{
    outline: none;
}

.inputDateRegistro{
    height: 35px;
    border: none;
    border-bottom: 2px solid gray;
    width: 40%;
    margin-bottom: 15px;
}

.divRadioRegistro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textRadioRegistro{
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima";
    font-size: 14px;

}

.formBottomRegistro{
    display: flex;
    justify-content: flex-end;
}

.registrarButton{
    margin-top: 10px;
}

/* Captcha */

.captcha{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}

.areaNumeroCaptcha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.numeroRandomCaptcha{
    width: 95%;
    height: 70%;
    text-align: center;
    border-radius: 10px;
}

.contenidoCaptcha{
    display: flex;
    height: 60%;
}

.areaInputCaptcha{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoCaptcha{
    margin: 0;
    margin-top: -15px;
}

.escribirCaptcha{
    width: 80%;
    height: 40%;
    text-align: center;
}

.areaButtonsCaptcha{
    width: 50%;
}

.buttonsCaptcha{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.captchaButton{
    background-color:rgb(70, 175, 255);
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25px;
    border: none;
    margin-top: 10px;
    border-radius: 25px;
}

.captchaButton:hover{
    cursor: pointer;
}

.captchaButton:focus{
    outline: none;
}

.validadoCaptcha{
    margin-left: 15px;
    margin-top: 10px;
}

.textoErrorRegistro{
    margin: 0;
}

/* CSS registroCompletado.html */

.cuadroRegistroCompletado{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    padding: 2.5%;
    text-align: justify;
}

.tituloRegistroCompletado{
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima";
}

.registroCompletadoLink{
    text-decoration: none;
    color: white;
}

.divRegistroCompletadoButton{
    height: 40%;
    display: flex;
    justify-content: flex-end;
}

/* CSS recuperarContraseña.html */

.textoRecuperar{
    text-align: justify;
}

.divRecuperarButton{
    display: flex;
    justify-content: flex-end;
}

.recuperarButton{
    background-color: #f7931e;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    border: none;
}

/* Administrador.html */

.administradorContent{
    width: 95%;
    margin: auto;
    margin-top: 2%;
}

.bodyAdministrador h1{
    color: white;
    font-family: "customFont";
    text-align: center; 
}

.cuadroFormAdministrador{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 10px 5px 5px 5px;
}

.divAgregarButton{
    display: flex;
    justify-content: space-evenly;
}

.tablaAdministrador{
    color: white;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.tablaAdministrador thead{
    background-color: orange;
    color: black;
}

.tablaAdministrador td{
    border: solid 1px white;
    font-size: 10px;
}

/* TABLET */

@media only screen and (min-width: 768px){
    .cuadroFormAdministrador{
        width: 95%;
    }
}

/* DESKTOP */

@media only screen and (min-width: 1024px){
    .bodyIngreso, .bodyRecuperarPassword, .bodyRegistro, .bodyRegistroCompletado{
        margin: 0;
        background-image: url(../images/bg-repeatp.png);
    }
    .homeContent{
        width: 1000px;
    }
    .juegosContent{
        width: 1000px;
        margin-bottom: 0px;
        padding: 0 10px;
        padding-bottom: 50px;
    }
    .bodyJuegos td{
        font-size: 18px;
    }
    .cuadroIngreso, .cuadroRegistro, .cuadroRegistroCompletado{
        width: 400px;
        margin-top: 7%;
    }
    .cuadroRegistro{
        width: 450px;
        margin-top: 3%;
    }
    .administradorContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tablaAdministrador{
        width: 1000px;
    }
    .cuadroFormAdministrador{
        width: 400px;
        padding: 30px;
    }
    .tablaAdministrador td{
        font-size: 18px;
    }
}